In [15]:
import os

import datetime

import numpy as np
import pandas as pd

from pandas import Series
from pandas import DataFrame

from scipy.stats import norm

import matplotlib.pyplot as plt

In [16]:
downweight_granularity=['dtime','Direction','dday','month']

# Data Import

In [17]:
Data=pd.read_csv('R_Output_Test_Pax.csv',sep=',')
Data=Data[['DepDate','yday','dtime','Direction','month','dday','Dprio','NumPax']]

Map_Dates=DataFrame([Data['DepDate'].unique().tolist(),[pd.to_datetime(x) for x in Data['DepDate'].unique().tolist()]]).transpose()
Map_Dates.columns=['DepDate','DepDate_dt']
Map_Dates['DepDate']=Map_Dates['DepDate'].astype('str')

Data=Data.merge(Map_Dates,on=['DepDate'])
Data['DepDate']=Data['DepDate_dt']
Data=Data[[x for x in Data.columns if x!='DepDate_dt']]

Data['TicketDate']=Data['DepDate']-Data['Dprio'].apply(lambda x: datetime.timedelta(x))

Data=Data.loc[Data['TicketDate']<=pd.to_datetime(datetime.datetime.today().strftime('%Y-%m-%d')),:]

Data=Data[[x for x in Data.columns if x!='TicketDate']]

Data['Dprio']=-Data['Dprio']
Data=Data.set_index(['DepDate','yday','dtime','Direction','month','dday','Dprio'])
Data=Data.groupby(level=[0,1,2,3,4,5,6]).sum().groupby(level=[0,1,2,3,4,5])['NumPax'].cumsum().reset_index()

Data['Dprio']=-Data['Dprio']

In [18]:
IdealCurve=pd.read_csv('IdealCurve.csv')

In [19]:
Data=Data.merge(IdealCurve,on=downweight_granularity+['Dprio'])

In [20]:
Data=Data[['DepDate','dtime','Direction','dday','Dprio','NumPax','Ideal_lower','Ideal_average_downweighted','Ideal_average_full','Ideal_upper']]\
.sort_values(by=['DepDate','Direction','dtime','Dprio'])

In [21]:
Data['NumPax']=Data['NumPax'].apply(lambda x: int(round(x)))
Data['Ideal_lower']=Data['Ideal_lower'].apply(lambda x: int(round(x)))
Data['Ideal_average_downweighted']=Data['Ideal_average_downweighted'].apply(lambda x: int(round(x)))
Data['Ideal_average_full']=Data['Ideal_average_full'].apply(lambda x: int(round(x)))
Data['Ideal_upper']=Data['Ideal_upper'].apply(lambda x: int(round(x)))

In [22]:
deptime=[str(x/60).split('.')[0]+':'+str(round(float('0.'+str(x/60).split('.')[1])*60)) for x in Data['dtime'].unique()]
deptime=[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]
deptime=['0'+x if len(x.split(':')[0])==1 else x for x in deptime]

Map_DepTime=DataFrame([Data['dtime'].unique(),[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]]).transpose()
Map_DepTime.columns=['dtime','deptime']
Map_DepTime['dtime']=Map_DepTime['dtime'].astype('int')

Data=Data.merge(Map_DepTime,on='dtime')

Data['dtime']=Data['deptime']
Data=Data[[x for x in Data.columns if x!='deptime']]

In [23]:
Data=Data.sort_values(by=['DepDate','dtime'])
Data=Data.rename(columns={'NumPax': 'Actual Bookings', 'Ideal_lower': 'Ramp-up frontier',
'Ideal_average_downweighted': 'Ideal curve (80% LF)', 'Ideal_average_full': 'Ideal curve (100% LF)',
'Ideal_upper': 'Phase-down frontier'})

In [24]:
Data.to_csv('GUI_in.csv',index=False)

In [25]:
Data.loc[Data['DepDate']=='2019-04-11',:]

,DepDate,dtime,Direction,dday,Dprio,Actual Bookings,Ramp-up frontier,Ideal curve (80% LF),Ideal curve (100% LF),Phase-down frontier
55807,2019-04-11,06:45,O,Thursday,1,48,52,56,70,70
55808,2019-04-11,06:45,O,Thursday,2,49,50,55,68,69
55809,2019-04-11,06:45,O,Thursday,3,50,48,53,67,68
55810,2019-04-11,06:45,O,Thursday,4,50,47,52,65,67
55811,2019-04-11,06:45,O,Thursday,5,50,45,51,63,66
55812,2019-04-11,06:45,O,Thursday,6,49,43,49,62,65
55813,2019-04-11,06:45,O,Thursday,7,44,42,48,60,64
55814,2019-04-11,06:45,O,Thursday,8,43,40,47,59,63
55815,2019-04-11,06:45,O,Thursday,9,40,39,46,57,62
55816,2019-04-11,06:45,O,Thursday,10,40,38,45,56,61
55817,2019-04-11,06:45,O,Thursday,11,40,36,44,55,60
55818,2019-04-11,06:45,O,Thursday,12,40,35,43,53,59
55819,2019-04-11,06:45,O,Thursday,13,38,34,42,52,58
55820,2019-04-11,06:45,O,Thursday,14,38,33,41,51,57
55821,2019-04-11,06:45,O,Thursday,15,39,32,40,50,56
55822,2019-04-11,06:45,O,Thursday,16,37,30,39,48,55
55823,2019-04-11,06:45,O,Thursday,17,35,29,38,47,54
55824,2019-04-11,06:45,O,Thursday,18,35,28,37,46,53
55825,2019-04-11,06:45,O,Thursday,19,35,27,36,45,52
55826,2019-04-11,06:45,O,Thursday,20,32,26,35,44,51
55827,2019-04-11,06:45,O,Thursday,21,31,25,34,43,50
55828,2019-04-11,06:45,O,Thursday,22,30,24,33,42,49
55829,2019-04-11,06:45,O,Thursday,23,29,23,33,41,48
55830,2019-04-11,06:45,O,Thursday,24,29,22,32,40,48
55831,2019-04-11,06:45,O,Thursday,25,29,22,31,39,47
55832,2019-04-11,06:45,O,Thursday,26,29,21,30,38,46
55833,2019-04-11,06:45,O,Thursday,27,29,20,29,37,45
55834,2019-04-11,06:45,O,Thursday,28,29,19,29,36,44
55835,2019-04-11,06:45,O,Thursday,29,28,18,28,35,44
55836,2019-04-11,06:45,O,Thursday,30,25,18,27,34,43
...,...,...,...,...,...,...,...,...,...,...
37854,2019-04-11,20:50,I,Thursday,336,0,0,0,0,13
37855,2019-04-11,20:50,I,Thursday,337,0,0,0,0,13
37856,2019-04-11,20:50,I,Thursday,338,0,0,0,0,13
37857,2019-04-11,20:50,I,Thursday,339,0,0,0,0,13
37858,2019-04-11,20:50,I,Thursday,340,0,0,0,0,13
37859,2019-04-11,20:50,I,Thursday,341,0,0,0,0,13
37860,2019-04-11,20:50,I,Thursday,342,0,0,0,0,13
37861,2019-04-11,20:50,I,Thursday,343,0,0,0,0,13
37862,2019-04-11,20:50,I,Thursday,344,0,0,0,0,13
37863,2019-04-11,20:50,I,Thursday,345,0,0,0,0,13
37864,2019-04-11,20:50,I,Thursday,346,0,0,0,0,13
37865,2019-04-11,20:50,I,Thursday,347,0,0,0,0,13
37866,2019-04-11,20:50,I,Thursday,348,0,0,0,0,13
37867,2019-04-11,20:50,I,Thursday,349,0,0,0,0,13
37868,2019-04-11,20:50,I,Thursday,350,0,0,0,0,13
37869,2019-04-11,20:50,I,Thursday,351,0,0,0,0,13
37870,2019-04-11,20:50,I,Thursday,352,0,0,0,0,13
37871,2019-04-11,20:50,I,Thursday,353,0,0,0,0,13
37872,2019-04-11,20:50,I,Thursday,354,0,0,0,0,13
37873,2019-04-11,20:50,I,Thursday,355,0,0,0,0,13
37874,2019-04-11,20:50,I,Thursday,356,0,0,0,0,13
37875,2019-04-11,20:50,I,Thursday,357,0,0,0,0,13
37876,2019-04-11,20:50,I,Thursday,358,0,0,0,0,13
37877,2019-04-11,20:50,I,Thursday,359,0,0,0,0,13
37878,2019-04-11,20:50,I,Thursday,360,0,0,0,0,13
37879,2019-04-11,20:50,I,Thursday,361,0,0,0,0,13
37880,2019-04-11,20:50,I,Thursday,362,0,0,0,0,13
37881,2019-04-11,20:50,I,Thursday,363,0,0,0,0,13
37882,2019-04-11,20:50,I,Thursday,364,0,0,0,0,13
37883,2019-04-11,20:50,I,Thursday,365,0,0,0,0,13