In [45]:
import os
import requests
import io

import datetime

import numpy as np
import pandas as pd

from pandas import Series
from pandas import DataFrame

import matplotlib.pyplot as plt

# Data Import

In [46]:
url_folder='https://raw.githubusercontent.com/dkremlg/Booking-Curves/master'
cube_files=['cube_JAN2019-JUN2019.csv']
url=url_folder+'/'+cube_files[0]
s=requests.get(url).content
Data=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')

other_files=['SCNTXL.csv']

In [47]:
url_folder='https://raw.githubusercontent.com/dkremlg/Booking-Curves/master'

cube_files=['cube_JAN2018-MAR2018.csv','cube_APR2018-JUN2018.csv','cube_JUL2018-SEP2018.csv','cube_OCT2018-DEC2018.csv',
'cube_JAN2019-MAR2019.csv','cube_APR2019-JUN2019.csv','cube_JUL2019-SEP2019.csv']

other_files=['SCNTXL.csv']

# url=url_folder+'/'+cube_files[0]
# s=requests.get(url).content
# Data=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')

# for f in cube_files:
#     url=url_folder+'/'+f
#     s=requests.get(url).content
#     Data_intermediate=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')
#     Data=pd.concat([Data,Data_intermediate])

### Extract day and month

In [48]:
Data=Data.dropna(how='any')
Data.index=range(Data.shape[0])

Data=Data.rename(columns={'Extraction Day': 'IssueDate','Calendar day': 'DepDate','Sched Airport Depart': 'SegFrom',
'Sched Airport Arriva': 'SegTo','Pax total': 'NumPax','Flight Number': 'FltNum'})
Data['FltNum']=Data['FltNum'].apply(lambda x: str(str(x).split('-')[1]))
Data['NumPax']=Data['NumPax'].apply(lambda x: float(str(x).split(' ')[0]))

Data['DepDayMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[0]+'/'+str(x).split('/')[1])
Data['DepMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[1]+'/'+str(x).split('/')[2])

### Map destination combination to inbound or outbound

In [49]:
Map_AirportsToDirection=DataFrame([['SCN','TXL'],['TXL','SCN'],['O','I']]).transpose()
Map_AirportsToDirection.columns=['SegFrom','SegTo','Direction']
Data=Data.merge(Map_AirportsToDirection,on=['SegTo','SegFrom'])

### Map flight number to departure time

In [50]:
# IMPORT FLIGHT NUMBER/DEPARTURE TIME MAPPING TABLE

url=url_folder+'/'+other_files[0]
s=requests.get(url).content
Map_Flt_To_DepTime=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=',')
Map_Flt_To_DepTime['FltNum']=Map_Flt_To_DepTime['FltNum'].astype('str')

Map_Flt_To_DepTime['DepDate']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: '/'.join([x.split('-')[2],x.split('-')[1],x.split('-')[0]]) if '-' in x else x)
Map_Flt_To_DepTime['DepDay']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[0])
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[1])
Map_Flt_To_DepTime['DepYear']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[2])
Map_Flt_To_DepTime['DepDay']=Map_Flt_To_DepTime['DepDay'].apply(lambda x: '0'+x if len(x)==1 else x)
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepMonth'].apply(lambda x: '0'+x if len(x)==1 else x)
Map_Flt_To_DepTime['DepDate']=Map_Flt_To_DepTime['DepDay']+'/'+Map_Flt_To_DepTime['DepMonth']+'/'+Map_Flt_To_DepTime['DepYear']

all_FlightNumbers=Map_Flt_To_DepTime['FltNum'].unique().tolist()
Data=Data.loc[Data['FltNum'].apply(lambda x: x in all_FlightNumbers),:]
Data.index=range(Data.shape[0])

Map_Flt_To_DepTime['DepDayMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[0]+'/'+x.split('/')[1])
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[1]+'/'+x.split('/')[2])

Map_Flt_To_DepTime=Map_Flt_To_DepTime[['FltNum','DepDate','DepDayMonth','DepMonth','DepTime']]

# DO THE MAPPING 

Data=Data.merge(Map_Flt_To_DepTime,on=['FltNum','DepDate'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_mostgran'})

Data=Data.merge(Map_Flt_To_DepTime.drop_duplicates(subset=['FltNum','DepDayMonth']),on=['FltNum','DepDayMonth'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_lessgran'})

Data=Data.merge(Map_Flt_To_DepTime.drop_duplicates(subset=['FltNum','DepMonth']),on=['FltNum','DepMonth'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_leastgran'})

Data['DepTime']=np.nan

Data.loc[~pd.isnull(Data['DepTime_mostgran']),'DepTime']=Data.loc[~pd.isnull(Data['DepTime_mostgran']),'DepTime_mostgran']
Data.loc[pd.isnull(Data['DepTime_mostgran']),'DepTime']=Data.loc[pd.isnull(Data['DepTime_mostgran']),'DepTime_lessgran']
Data.loc[pd.isnull(Data['DepTime_mostgran'])&pd.isnull(Data['DepTime_lessgran']),'DepTime']\
        =Data.loc[pd.isnull(Data['DepTime_mostgran'])&pd.isnull(Data['DepTime_lessgran']),'DepTime_leastgran']

Data=Data.loc[~pd.isnull(Data['DepTime']),:]

### Change format of remaining columns

In [51]:
Data=Data.loc[~pd.isnull(Data['DepTime']),['IssueDate','DepDate','FltNum','SegTo','SegFrom','Direction','DepTime','NumPax',
                                     'Coupons+YQ on current bookings','Current revenue','Group pax','Cabin Capacity']].copy()

IssueDate=Data['IssueDate'].unique().tolist()
IssueDate_Map=DataFrame([IssueDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in IssueDate]]).transpose()
IssueDate_Map.columns=['IssueDate','NewFormat']

Data=Data.merge(IssueDate_Map,on=['IssueDate'])
Data=Data[[x for x in Data.columns if x!='IssueDate']]
Data=Data.rename(columns={'NewFormat': 'IssueDate'})

#######################################

DepartureDate=Data['DepDate'].unique().tolist()
DepartureDate_Map=DataFrame([DepartureDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in DepartureDate]]).transpose()
DepartureDate_Map.columns=['DepDate','NewFormat']
DepartureDate_Map['yday']=DepartureDate_Map['NewFormat'].apply(lambda x: x.timetuple().tm_yday)

DepartureDate_Map['dday_num']=DepartureDate_Map['NewFormat'].apply(lambda x: x.weekday())
Weekday_Map=DataFrame([[x for x in range(0,8)],['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]).transpose()
Weekday_Map.columns=['dday_num','dday']
Weekday_Map['dday_num']=Weekday_Map['dday_num'].astype('int')

DepartureDate_Map=DepartureDate_Map.merge(Weekday_Map,on='dday_num')

DepartureDate_Map=DepartureDate_Map[[x for x in DepartureDate_Map if x!='dday_num']]
DepartureDate_Map=DepartureDate_Map.sort_values(by='NewFormat')

Data=Data.merge(DepartureDate_Map,on=['DepDate'])
Data=Data[[x for x in Data.columns if x!='DepDate']]
Data=Data.rename(columns={'NewFormat': 'DepDate'})

#######################################

DepartureTime=Data['DepTime'].unique().tolist()
DepartureTime_Map=DataFrame([DepartureTime,[pd.to_datetime(x,format='%H:%M:%S') for x in DepartureTime]]).transpose()
DepartureTime_Map.columns=['DepTime','NewFormat']
DepartureTime_Map['dtime']=DepartureTime_Map['NewFormat'].apply(lambda x: (x-datetime.datetime.combine(x.date(),datetime.time(0,0))).seconds/60)

Data=Data.merge(DepartureTime_Map,on=['DepTime'])
Data=Data[[x for x in Data.columns if x!='DepTime']]
Data=Data.rename(columns={'NewFormat': 'DepTime'})

#######################################

Data['month']=Data['DepDate'].apply(lambda x: int(x.month))

#######################################

Data['Dprio']=(Data['DepDate']-Data['IssueDate']).apply(lambda x: float(x.days))
Data=Data.loc[(Data['Dprio']>0)&(Data['Dprio']<=366)&(Data['NumPax']>0)&(~pd.isnull(Data['DepTime'])),:]

Data=Data.sort_values(by=['DepDate','Dprio'],ascending=[True,False])

In [52]:
Data

,FltNum,SegTo,SegFrom,Direction,NumPax,Coupons+YQ on current bookings,Current revenue,Group pax,Cabin Capacity,IssueDate,DepDate,yday,dday,DepTime,dtime,month,Dprio
84395,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,248.0
84396,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,247.0
84397,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,246.0
84398,9416,SCN,TXL,I,2.0,20,46,0,67,2018-05-01 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,245.0
84399,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-02 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,244.0
84400,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-03 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,243.0
84401,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-04 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,242.0
84402,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-05 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,241.0
84403,9416,SCN,TXL,I,3.0,30,69,0,67,2018-05-06 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,240.0
84404,9416,SCN,TXL,I,3.0,30,69,0,67,2018-05-07 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,239.0
84405,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-08 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,238.0
84406,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-09 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,237.0
84407,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-10 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,236.0
84408,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-11 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,235.0
84409,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-12 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,234.0
84410,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-13 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,233.0
84411,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-14 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,232.0
84412,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-15 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,231.0
84413,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-16 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,230.0
84414,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-17 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,229.0
84415,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-18 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,228.0
84416,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-19 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,227.0
84417,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-20 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,226.0
84418,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-21 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,225.0
84419,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-22 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,224.0
84420,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-23 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,223.0
84421,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-24 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,222.0
84422,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,221.0
84423,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,220.0
84424,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16335,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-17 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,248.0
16336,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-18 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,247.0
16337,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-19 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,246.0
16338,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-20 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,245.0
16339,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-21 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,244.0
16340,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-22 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,243.0
16341,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-23 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,242.0
16342,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-24 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,241.0
16343,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-25 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,240.0
16344,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-26 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,239.0
16345,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-27 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,238.0
16346,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-28 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,237.0
16347,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-29 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,236.0
16348,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-30 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,235.0
16349,9411,TXL,SCN,O,2.0,74,86,0,67,2018-07-31 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,234.0
16350,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-01 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,233.0
16351,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-02 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,232.0
16352,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-03 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,231.0
16353,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-04 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,230.0
16354,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-05 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,229.0
16355,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-06 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,228.0
16356,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-07 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,227.0
16357,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-08 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,226.0
16358,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-09 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,225.0
16359,9411,TXL,SCN,O,2.0,74,86,0,67,2018-08-10 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,224.0
16360,9411,TXL,SCN,O,4.0,148,172,0,67,2018-08-11 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,223.0
16361,9411,TXL,SCN,O,4.0,148,172,0,67,2018-08-12 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,222.0
16362,9411,TXL,SCN,O,4.0,148,172,0,67,2018-08-13 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 07:45:00,465.0,3,221.0
101405,9416,SCN,TXL,I,1.0,71,83,0,67,2018-08-13 00:00:00,2019-03-22 00:00:00,81,Friday,1900-01-01 15:50:00,950.0,3,221.0
103057,9414,SCN,TXL,I,1.0,71,83,0,67,2018-08-13 00:00:00,2019-03-28 00:00:00,87,Thursday,1900-01-01 20:50:00,1250.0,3,227.0

In [53]:
Data.loc[Data['DepDate']==pd.to_datetime('2019-01-01'),:]

,FltNum,SegTo,SegFrom,Direction,NumPax,Coupons+YQ on current bookings,Current revenue,Group pax,Cabin Capacity,IssueDate,DepDate,yday,dday,DepTime,dtime,month,Dprio
84395,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,248.0
84396,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,247.0
84397,9416,SCN,TXL,I,2.0,20,46,0,67,2018-04-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,246.0
84398,9416,SCN,TXL,I,2.0,20,46,0,67,2018-05-01 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,245.0
84399,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-02 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,244.0
84400,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-03 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,243.0
84401,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-04 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,242.0
84402,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-05 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,241.0
84403,9416,SCN,TXL,I,3.0,30,69,0,67,2018-05-06 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,240.0
84404,9416,SCN,TXL,I,3.0,30,69,0,67,2018-05-07 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,239.0
84405,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-08 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,238.0
84406,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-09 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,237.0
84407,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-10 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,236.0
84408,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-11 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,235.0
84409,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-12 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,234.0
84410,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-13 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,233.0
84411,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-14 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,232.0
84412,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-15 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,231.0
84413,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-16 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,230.0
84414,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-17 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,229.0
84415,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-18 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,228.0
84416,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-19 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,227.0
84417,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-20 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,226.0
84418,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-21 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,225.0
84419,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-22 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,224.0
84420,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-23 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,223.0
84421,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-24 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,222.0
84422,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,221.0
84423,9416,SCN,TXL,I,3.0,30,63,0,67,2018-05-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,220.0
84424,9416,SCN,TXL,I,3.0,30,66,0,67,2018-05-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67601,9414,SCN,TXL,I,24.0,1686,2013,0,67,2018-12-24 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,8.0
84635,9416,SCN,TXL,I,48.0,3686,4416,0,67,2018-12-24 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,8.0
16744,9413,TXL,SCN,O,29.0,1701,2049,0,67,2018-12-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,7.0
33778,9415,TXL,SCN,O,27.0,1410,1698,0,67,2018-12-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,7.0
67602,9414,SCN,TXL,I,24.0,1686,2013,0,67,2018-12-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,7.0
84636,9416,SCN,TXL,I,48.0,3686,4416,0,67,2018-12-25 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,7.0
16745,9413,TXL,SCN,O,29.0,1701,2049,0,67,2018-12-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,6.0
33779,9415,TXL,SCN,O,28.0,1507,1813,0,67,2018-12-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,6.0
67603,9414,SCN,TXL,I,24.0,1686,2013,0,67,2018-12-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,6.0
84637,9416,SCN,TXL,I,48.0,3686,4416,0,67,2018-12-26 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,6.0
16746,9413,TXL,SCN,O,29.0,1701,2049,0,67,2018-12-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,5.0
33780,9415,TXL,SCN,O,28.0,1507,1813,0,67,2018-12-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,5.0
67604,9414,SCN,TXL,I,24.0,1686,2013,0,67,2018-12-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,5.0
84638,9416,SCN,TXL,I,49.0,3783,4531,0,67,2018-12-27 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,5.0
16747,9413,TXL,SCN,O,29.0,1701,2049,0,67,2018-12-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,4.0
33781,9415,TXL,SCN,O,28.0,1507,1813,0,67,2018-12-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,4.0
67605,9414,SCN,TXL,I,26.0,1880,2243,0,67,2018-12-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,4.0
84639,9416,SCN,TXL,I,52.0,4476,5335,0,67,2018-12-28 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,4.0
16748,9413,TXL,SCN,O,29.0,1701,2049,0,67,2018-12-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,3.0
33782,9415,TXL,SCN,O,28.0,1507,1813,0,67,2018-12-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,3.0
67606,9414,SCN,TXL,I,27.0,1977,2358,0,67,2018-12-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,3.0
84640,9416,SCN,TXL,I,55.0,4767,5680,0,67,2018-12-29 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,3.0
16749,9413,TXL,SCN,O,30.0,1855,2230,0,67,2018-12-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,2.0
33783,9415,TXL,SCN,O,29.0,1661,1994,0,67,2018-12-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,2.0
67607,9414,SCN,TXL,I,27.0,1977,3051,0,67,2018-12-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,2.0
84641,9416,SCN,TXL,I,55.0,4767,5680,0,67,2018-12-30 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,2.0
16750,9413,TXL,SCN,O,31.0,2009,2412,0,67,2018-12-31 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 18:30:00,1110.0,1,1.0
33784,9415,TXL,SCN,O,30.0,1758,2109,0,67,2018-12-31 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 13:45:00,825.0,1,1.0
67608,9414,SCN,TXL,I,27.0,1977,2358,0,67,2018-12-31 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 20:20:00,1220.0,1,1.0
84642,9416,SCN,TXL,I,55.0,4767,5680,0,67,2018-12-31 00:00:00,2019-01-01 00:00:00,1,Tuesday,1900-01-01 15:50:00,950.0,1,1.0

# Pax Data

In [54]:
Pax=Data[['DepDate','Dprio','yday','dtime','Direction','month','dday','NumPax']].copy()
Pax=Pax.set_index(['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Pax=Pax.groupby(level=[0,2,3,4,5,6]).diff().reset_index()
Pax=Pax.dropna(how='any')
Data_NoObs=Pax.loc[:,['DepDate','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['NumPax']=0

Data_NoObs=Data_NoObs[Pax.columns]

Pax=pd.concat([Pax,Data_NoObs])
Pax=Pax.drop_duplicates(subset=['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Pax=Pax.sort_values(by=['DepDate','dtime','Dprio'],ascending=[True,True,False])
Pax.index=range(Pax.shape[0])

# Group bookings

In [55]:
GroupPax=Data[['DepDate','Dprio','yday','dtime','Direction','month','dday','Group pax']].copy()
GroupPax=GroupPax.set_index(['DepDate','Dprio','yday','dtime','Direction','month','dday'])

GroupPax=GroupPax.groupby(level=[0,2,3,4,5,6]).diff().reset_index()
GroupPax=GroupPax.dropna(how='any')
Data_NoObs=GroupPax.loc[:,['DepDate','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['Group pax']=0

Data_NoObs=Data_NoObs[GroupPax.columns]

GroupPax=pd.concat([GroupPax,Data_NoObs])
GroupPax=GroupPax.drop_duplicates(subset=['DepDate','Dprio','yday','dtime','Direction','month','dday'])

GroupPax=GroupPax.sort_values(by=['DepDate','dtime','Dprio'],ascending=[True,True,False])
GroupPax.index=range(GroupPax.shape[0])

# Revenue

In [56]:
Revenue=Data[['DepDate','Dprio','yday','dtime','Direction','month','dday','Coupons+YQ on current bookings']].copy()
Revenue=Revenue.set_index(['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Revenue=Revenue.groupby(level=[0,2,3,4,5,6]).diff().reset_index()
Revenue=Revenue.dropna(how='any')
Data_NoObs=Revenue.loc[:,['DepDate','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['Coupons+YQ on current bookings']=0

Data_NoObs=Data_NoObs[Revenue.columns]

Revenue=pd.concat([Revenue,Data_NoObs])
Revenue=Revenue.drop_duplicates(subset=['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Revenue=Revenue.sort_values(by=['DepDate','dtime','Dprio'],ascending=[True,True,False])
Revenue.index=range(Revenue.shape[0])

# Remove group bookings from revenue and pax data

In [65]:
Revenue=Revenue.merge(Pax,on=['DepDate','Dprio','yday','dtime','Direction','month','dday'])
Revenue=Revenue.merge(GroupPax,on=['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Revenue['Avg_Yield']=Revenue['Coupons+YQ on current bookings']/Revenue['NumPax']

Revenue['Coupons+YQ on current bookings']=Revenue['Avg_Yield']*(Revenue['NumPax']-Revenue['Group pax'])

########################################################################################

Pax=Pax.merge(GroupPax,on=['DepDate','Dprio','yday','dtime','Direction','month','dday'])
Pax['NumPax']=Pax['NumPax']-Pax['Group pax']

# Data Export

In [25]:
Pax=Pax.merge(GroupPax,on=['DepDate','Dprio','yday','dtime','Direction','month','dday'])
Pax['NumPax']=Pax['NumPax']-Pax['Group pax']

TrainingSet=Pax.loc[(Pax['DepDate']>=pd.to_datetime('2018-04-01'))&(Pax['DepDate']<=pd.to_datetime('2019-03-20')),].copy()
TestSet=Pax.loc[Pax['DepDate']>=pd.to_datetime('2019-04-01'),].copy()

TrainingSet.to_csv('R_Training_Counting.csv',index=False)
TestSet.to_csv('R_Test_Counting.csv',index=False)

#################################################

GroupPax.to_csv('GroupPax.csv',index=False)

#################################################

Revenue.to_csv('Revenue.csv',index=False)

In [28]:
Pax

,DepDate,Dprio,yday,dtime,Direction,month,dday,NumPax,Group pax
0,2019-01-01,365.0,1,825.0,O,1,Tuesday,0.0,0.0
1,2019-01-01,364.0,1,825.0,O,1,Tuesday,0.0,0.0
2,2019-01-01,363.0,1,825.0,O,1,Tuesday,0.0,0.0
3,2019-01-01,362.0,1,825.0,O,1,Tuesday,0.0,0.0
4,2019-01-01,361.0,1,825.0,O,1,Tuesday,0.0,0.0
5,2019-01-01,360.0,1,825.0,O,1,Tuesday,0.0,0.0
6,2019-01-01,359.0,1,825.0,O,1,Tuesday,0.0,0.0
7,2019-01-01,358.0,1,825.0,O,1,Tuesday,0.0,0.0
8,2019-01-01,357.0,1,825.0,O,1,Tuesday,0.0,0.0
9,2019-01-01,356.0,1,825.0,O,1,Tuesday,0.0,0.0
10,2019-01-01,355.0,1,825.0,O,1,Tuesday,0.0,0.0
11,2019-01-01,354.0,1,825.0,O,1,Tuesday,0.0,0.0
12,2019-01-01,353.0,1,825.0,O,1,Tuesday,0.0,0.0
13,2019-01-01,352.0,1,825.0,O,1,Tuesday,0.0,0.0
14,2019-01-01,351.0,1,825.0,O,1,Tuesday,0.0,0.0
15,2019-01-01,350.0,1,825.0,O,1,Tuesday,0.0,0.0
16,2019-01-01,349.0,1,825.0,O,1,Tuesday,0.0,0.0
17,2019-01-01,348.0,1,825.0,O,1,Tuesday,0.0,0.0
18,2019-01-01,347.0,1,825.0,O,1,Tuesday,0.0,0.0
19,2019-01-01,346.0,1,825.0,O,1,Tuesday,0.0,0.0
20,2019-01-01,345.0,1,825.0,O,1,Tuesday,0.0,0.0
21,2019-01-01,344.0,1,825.0,O,1,Tuesday,0.0,0.0
22,2019-01-01,343.0,1,825.0,O,1,Tuesday,0.0,0.0
23,2019-01-01,342.0,1,825.0,O,1,Tuesday,0.0,0.0
24,2019-01-01,341.0,1,825.0,O,1,Tuesday,0.0,0.0
25,2019-01-01,340.0,1,825.0,O,1,Tuesday,0.0,0.0
26,2019-01-01,339.0,1,825.0,O,1,Tuesday,0.0,0.0
27,2019-01-01,338.0,1,825.0,O,1,Tuesday,0.0,0.0
28,2019-01-01,337.0,1,825.0,O,1,Tuesday,0.0,0.0
29,2019-01-01,336.0,1,825.0,O,1,Tuesday,0.0,0.0
...,...,...,...,...,...,...,...,...,...
114215,2019-03-22,30.0,81,465.0,O,3,Friday,0.0,0.0
114216,2019-03-22,29.0,81,465.0,O,3,Friday,0.0,0.0
114217,2019-03-22,28.0,81,465.0,O,3,Friday,0.0,0.0
114218,2019-03-22,27.0,81,465.0,O,3,Friday,0.0,0.0
114219,2019-03-22,26.0,81,465.0,O,3,Friday,0.0,0.0
114220,2019-03-22,25.0,81,465.0,O,3,Friday,0.0,0.0
114221,2019-03-22,24.0,81,465.0,O,3,Friday,0.0,0.0
114222,2019-03-22,23.0,81,465.0,O,3,Friday,0.0,0.0
114223,2019-03-22,22.0,81,465.0,O,3,Friday,0.0,0.0
114224,2019-03-22,21.0,81,465.0,O,3,Friday,0.0,0.0
114225,2019-03-22,20.0,81,465.0,O,3,Friday,0.0,0.0
114226,2019-03-22,19.0,81,465.0,O,3,Friday,0.0,0.0
114227,2019-03-22,18.0,81,465.0,O,3,Friday,0.0,0.0
114228,2019-03-22,17.0,81,465.0,O,3,Friday,0.0,0.0
114229,2019-03-22,16.0,81,465.0,O,3,Friday,0.0,0.0
114230,2019-03-22,15.0,81,465.0,O,3,Friday,0.0,0.0
114231,2019-03-22,14.0,81,465.0,O,3,Friday,0.0,0.0
114232,2019-03-22,13.0,81,465.0,O,3,Friday,0.0,0.0
114233,2019-03-22,12.0,81,465.0,O,3,Friday,0.0,0.0
114234,2019-03-22,11.0,81,465.0,O,3,Friday,0.0,0.0
114235,2019-03-22,10.0,81,465.0,O,3,Friday,0.0,0.0
114236,2019-03-22,9.0,81,465.0,O,3,Friday,0.0,0.0
114237,2019-03-22,8.0,81,465.0,O,3,Friday,0.0,0.0
114238,2019-03-22,7.0,81,465.0,O,3,Friday,0.0,0.0
114239,2019-03-22,6.0,81,465.0,O,3,Friday,0.0,0.0
114240,2019-03-22,5.0,81,465.0,O,3,Friday,0.0,0.0
114241,2019-03-22,4.0,81,465.0,O,3,Friday,0.0,0.0
114242,2019-03-22,3.0,81,465.0,O,3,Friday,0.0,0.0
114243,2019-03-22,2.0,81,465.0,O,3,Friday,0.0,0.0
114244,2019-03-22,1.0,81,465.0,O,3,Friday,0.0,0.0