In [266]:
import os
import requests
import io

import datetime

import numpy as np
import pandas as pd

from pandas import Series
from pandas import DataFrame

import matplotlib.pyplot as plt

# Data Import

In [267]:
url_folder='https://raw.githubusercontent.com/dkremlg/Booking-Curves/master'
cube_files=['cube_JAN2019-JUN2019.csv']
url=url_folder+'/'+cube_files[0]
s=requests.get(url).content
Data=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')

other_files=['SCNTXL.csv']

In [268]:
# url_folder='https://raw.githubusercontent.com/dkremlg/Booking-Curves/master'

# cube_files=['cube_JAN2018-MAR2018.csv','cube_APR2018-JUN2018.csv','cube_JUL2018-SEP2018.csv','cube_OCT2018-DEC2018.csv',
# 'cube_JAN2019-MAR2019.csv','cube_APR2019-JUN2019.csv','cube_JUL2019-SEP2019.csv']

# other_files=['SCNTXL.csv']

# url=url_folder+'/'+cube_files[0]
# s=requests.get(url).content
# Data=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')

# for f in cube_files:
#     url=url_folder+'/'+f
#     s=requests.get(url).content
#     Data_intermediate=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=';')
#     Data=pd.concat([Data,Data_intermediate])

### Extract day and month

In [269]:
Data=Data.dropna(how='any')
Data.index=range(Data.shape[0])

Data=Data.rename(columns={'Extraction Day': 'IssueDate','Calendar day': 'DepDate','Sched Airport Depart': 'SegFrom',
'Sched Airport Arriva': 'SegTo','Pax total': 'NumPax','Flight Number': 'FltNum'})
Data['FltNum']=Data['FltNum'].apply(lambda x: str(str(x).split('-')[1]))
Data['NumPax']=Data['NumPax'].apply(lambda x: float(str(x).split(' ')[0]))

Data['DepDayMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[0]+'/'+str(x).split('/')[1])
Data['DepMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[1]+'/'+str(x).split('/')[2])

### Map destination combination to inbound or outbound

In [ ]:
Map_AirportsToDirection=DataFrame([['SCN','TXL'],['TXL','SCN'],['O','I']]).transpose()
Map_AirportsToDirection.columns=['SegFrom','SegTo','Direction']
Data=Data.merge(Map_AirportsToDirection,on=['SegTo','SegFrom'])

### Map flight number to departure time

In [ ]:
# IMPORT FLIGHT NUMBER/DEPARTURE TIME MAPPING TABLE

url=url_folder+'/'+other_files[0]
s=requests.get(url).content
Map_Flt_To_DepTime=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=',')
Map_Flt_To_DepTime['FltNum']=Map_Flt_To_DepTime['FltNum'].astype('str')

Map_Flt_To_DepTime['DepDate']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: '/'.join([x.split('-')[2],x.split('-')[1],x.split('-')[0]]) if '-' in x else x)
Map_Flt_To_DepTime['DepDay']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[0])
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[1])
Map_Flt_To_DepTime['DepYear']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[2])
Map_Flt_To_DepTime['DepDay']=Map_Flt_To_DepTime['DepDay'].apply(lambda x: '0'+x if len(x)==1 else x)
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepMonth'].apply(lambda x: '0'+x if len(x)==1 else x)
Map_Flt_To_DepTime['DepDate']=Map_Flt_To_DepTime['DepDay']+'/'+Map_Flt_To_DepTime['DepMonth']+'/'+Map_Flt_To_DepTime['DepYear']

all_FlightNumbers=Map_Flt_To_DepTime['FltNum'].unique().tolist()
Data=Data.loc[Data['FltNum'].apply(lambda x: x in all_FlightNumbers),:]
Data.index=range(Data.shape[0])

Map_Flt_To_DepTime['DepDayMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[0]+'/'+x.split('/')[1])
Map_Flt_To_DepTime['DepMonth']=Map_Flt_To_DepTime['DepDate'].apply(lambda x: x.split('/')[1]+'/'+x.split('/')[2])

Map_Flt_To_DepTime=Map_Flt_To_DepTime[['FltNum','DepDate','DepDayMonth','DepMonth','DepTime']]

# DO THE MAPPING 

Data=Data.merge(Map_Flt_To_DepTime,on=['FltNum','DepDate'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_mostgran'})

Data=Data.merge(Map_Flt_To_DepTime.drop_duplicates(subset=['FltNum','DepDayMonth']),on=['FltNum','DepDayMonth'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_lessgran'})

Data=Data.merge(Map_Flt_To_DepTime.drop_duplicates(subset=['FltNum','DepMonth']),on=['FltNum','DepMonth'],how='left')
Data=Data[[x for x in Data.columns if '_y' not in x]]
Data.columns=[x.replace('_x','') for x in Data.columns]
Data=Data.rename(columns={'DepTime': 'DepTime_leastgran'})

Data['DepTime']=np.nan

Data.loc[~pd.isnull(Data['DepTime_mostgran']),'DepTime']=Data.loc[~pd.isnull(Data['DepTime_mostgran']),'DepTime_mostgran']
Data.loc[pd.isnull(Data['DepTime_mostgran']),'DepTime']=Data.loc[pd.isnull(Data['DepTime_mostgran']),'DepTime_lessgran']
Data.loc[pd.isnull(Data['DepTime_mostgran'])&pd.isnull(Data['DepTime_lessgran']),'DepTime']\
        =Data.loc[pd.isnull(Data['DepTime_mostgran'])&pd.isnull(Data['DepTime_lessgran']),'DepTime_leastgran']

Data=Data.loc[~pd.isnull(Data['DepTime']),:]

### Change format of remaining columns

In [ ]:
Data=Data.loc[~pd.isnull(Data['DepTime']),['IssueDate','DepDate','FltNum','SegTo','SegFrom','Direction','DepTime','NumPax',
                                     'Coupons+YQ on current bookings','Current revenue','Group pax','Cabin Capacity']].copy()

IssueDate=Data['IssueDate'].unique().tolist()
IssueDate_Map=DataFrame([IssueDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in IssueDate]]).transpose()
IssueDate_Map.columns=['IssueDate','NewFormat']

Data=Data.merge(IssueDate_Map,on=['IssueDate'])
Data=Data[[x for x in Data.columns if x!='IssueDate']]
Data=Data.rename(columns={'NewFormat': 'IssueDate'})

#######################################

DepartureDate=Data['DepDate'].unique().tolist()
DepartureDate_Map=DataFrame([DepartureDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in DepartureDate]]).transpose()
DepartureDate_Map.columns=['DepDate','NewFormat']
DepartureDate_Map['yday']=DepartureDate_Map['NewFormat'].apply(lambda x: x.timetuple().tm_yday)

DepartureDate_Map['dday_num']=DepartureDate_Map['NewFormat'].apply(lambda x: x.weekday())
Weekday_Map=DataFrame([[x for x in range(0,8)],['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]).transpose()
Weekday_Map.columns=['dday_num','dday']
Weekday_Map['dday_num']=Weekday_Map['dday_num'].astype('int')

DepartureDate_Map=DepartureDate_Map.merge(Weekday_Map,on='dday_num')

DepartureDate_Map=DepartureDate_Map[[x for x in DepartureDate_Map if x!='dday_num']]
DepartureDate_Map=DepartureDate_Map.sort_values(by='NewFormat')

Data=Data.merge(DepartureDate_Map,on=['DepDate'])
Data=Data[[x for x in Data.columns if x!='DepDate']]
Data=Data.rename(columns={'NewFormat': 'DepDate'})

#######################################

DepartureTime=Data['DepTime'].unique().tolist()
DepartureTime_Map=DataFrame([DepartureTime,[pd.to_datetime(x,format='%H:%M:%S') for x in DepartureTime]]).transpose()
DepartureTime_Map.columns=['DepTime','NewFormat']
DepartureTime_Map['dtime']=DepartureTime_Map['NewFormat'].apply(lambda x: (x-datetime.datetime.combine(x.date(),datetime.time(0,0))).seconds/60)

Data=Data.merge(DepartureTime_Map,on=['DepTime'])
Data=Data[[x for x in Data.columns if x!='DepTime']]
Data=Data.rename(columns={'NewFormat': 'DepTime'})

#######################################

Data['month']=Data['DepDate'].apply(lambda x: int(x.month))

#######################################

Data['Dprio']=(Data['DepDate']-Data['IssueDate']).apply(lambda x: float(x.days))
Data=Data.loc[(Data['Dprio']>0)&(Data['Dprio']<=366)&(Data['NumPax']>0)&(~pd.isnull(Data['DepTime'])),:]

Data=Data.sort_values(by=['DepDate','Dprio'],ascending=[True,False])

In [ ]:
Data.loc[Data['DepDate']==pd.to_datetime('2019-01-01'),:]

# Pax Data

In [ ]:
Pax=Data.loc[:,['DepDate','Dprio','yday','dtime','Direction','month','dday','NumPax']].copy()
Pax=Pax.set_index(['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Pax=Pax.groupby(level=[0,2,3,4,5,6]).diff().reset_index()
Pax=Pax.dropna(how='any')
Data_NoObs=Pax.loc[:,['DepDate','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['NumPax']=0

Data_NoObs=Data_NoObs[Pax.columns]

Pax=pd.concat([Pax,Data_NoObs])
Pax=Pax.drop_duplicates(subset=['DepDate','Dprio','yday','dtime','Direction','month','dday'])

Pax=Pax.sort_values(by=['DepDate','dtime','Dprio'],ascending=[True,True,False])

In [ ]:
TrainingSet=Pax.loc[(Pax['DepDate']>=pd.to_datetime('2018-04-01'))&(Pax['DepDate']<=pd.to_datetime('2019-03-20')),].copy()
TestSet=Pax.loc[Pax['DepDate']>=pd.to_datetime('2019-04-01'),].copy()

In [ ]:
TrainingSet.to_csv('R_Training_Counting.csv',index=False)
TestSet.to_csv('R_Test_Counting.csv',index=False)

In [263]:
Pax

       DepDate  Dprio  yday  dtime Direction  month     dday  NumPax
2   2019-01-01  365.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  364.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  363.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  362.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  361.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  360.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  359.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  358.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  357.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  356.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  355.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  354.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  353.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  352.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  351.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  350.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  349.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  348.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  347.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  346.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  345.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  344.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  343.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  342.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  341.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  340.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  339.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  338.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  337.0     1  825.0         O      1  Tuesday     0.0
2   2019-01-01  336.0     1  825.0         O      1  Tuesday     0.0
..         ...    ...   ...    ...       ...    ...      ...     ...
312 2019-03-22   30.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   29.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   28.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   27.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   26.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   25.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   24.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   23.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   22.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   21.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   20.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   19.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   18.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   17.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   16.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   15.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   14.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   13.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   12.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   11.0    81  465.0         O      3   Friday     0.0
312 2019-03-22   10.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    9.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    8.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    7.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    6.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    5.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    4.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    3.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    2.0    81  465.0         O      3   Friday     0.0
312 2019-03-22    1.0    81  465.0         O      3   Friday     0.0

[114245 rows x 8 columns]

# Group bookings

In [178]:
Data

,IssueDate,DepDate,FltNum,SegTo,SegFrom,NumPax,Coupons+YQ on current bookings,Current revenue,Group pax,Cabin Capacity,DepDayMonth,DepMonth,Direction,DepTime_mostgran,DepTime_lessgran,DepTime_leastgran,DepTime
0,12/04/2018,01/01/2019,9411,TXL,SCN,0.0,0,0,0,0,01/01,01/2019,O,NaN,NaN,07:45:00,07:45:00
1,12/04/2018,01/01/2019,9413,TXL,SCN,0.0,0,0,0,0,01/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
2,12/04/2018,01/01/2019,9415,TXL,SCN,0.0,0,0,0,0,01/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
3,12/04/2018,02/01/2019,9411,TXL,SCN,0.0,0,0,0,0,02/01,01/2019,O,NaN,07:45:00,07:45:00,07:45:00
4,12/04/2018,02/01/2019,9413,TXL,SCN,0.0,0,0,0,0,02/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
5,12/04/2018,02/01/2019,9415,TXL,SCN,0.0,0,0,0,0,02/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
6,12/04/2018,03/01/2019,9411,TXL,SCN,0.0,0,0,0,0,03/01,01/2019,O,NaN,07:45:00,07:45:00,07:45:00
7,12/04/2018,03/01/2019,9413,TXL,SCN,0.0,0,0,0,0,03/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
8,12/04/2018,03/01/2019,9415,TXL,SCN,0.0,0,0,0,0,03/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
9,12/04/2018,04/01/2019,9411,TXL,SCN,0.0,0,0,0,0,04/01,01/2019,O,NaN,07:45:00,07:45:00,07:45:00
10,12/04/2018,04/01/2019,9413,TXL,SCN,0.0,0,0,0,0,04/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
11,12/04/2018,04/01/2019,9415,TXL,SCN,0.0,0,0,0,0,04/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
12,12/04/2018,05/01/2019,9411,TXL,SCN,0.0,0,0,0,0,05/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
13,12/04/2018,06/01/2019,9413,TXL,SCN,0.0,0,0,0,0,06/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
14,12/04/2018,06/01/2019,9415,TXL,SCN,0.0,0,0,0,0,06/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
15,12/04/2018,07/01/2019,9411,TXL,SCN,0.0,0,0,0,0,07/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
16,12/04/2018,07/01/2019,9413,TXL,SCN,0.0,0,0,0,0,07/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
17,12/04/2018,07/01/2019,9415,TXL,SCN,0.0,0,0,0,0,07/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
18,12/04/2018,08/01/2019,9411,TXL,SCN,0.0,0,0,0,0,08/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
19,12/04/2018,08/01/2019,9413,TXL,SCN,0.0,0,0,0,0,08/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
20,12/04/2018,08/01/2019,9415,TXL,SCN,0.0,0,0,0,0,08/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
21,12/04/2018,09/01/2019,9411,TXL,SCN,0.0,0,0,0,0,09/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
22,12/04/2018,09/01/2019,9413,TXL,SCN,0.0,0,0,0,0,09/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
23,12/04/2018,09/01/2019,9415,TXL,SCN,0.0,0,0,0,0,09/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
24,12/04/2018,10/01/2019,9411,TXL,SCN,0.0,0,0,0,0,10/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
25,12/04/2018,10/01/2019,9413,TXL,SCN,0.0,0,0,0,0,10/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
26,12/04/2018,10/01/2019,9415,TXL,SCN,0.0,0,0,0,0,10/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
27,12/04/2018,11/01/2019,9411,TXL,SCN,0.0,0,0,0,0,11/01,01/2019,O,07:45:00,07:45:00,07:45:00,07:45:00
28,12/04/2018,11/01/2019,9413,TXL,SCN,0.0,0,0,0,0,11/01,01/2019,O,18:30:00,18:30:00,18:30:00,18:30:00
29,12/04/2018,11/01/2019,9415,TXL,SCN,0.0,0,0,0,0,11/01,01/2019,O,13:45:00,13:45:00,13:45:00,13:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120038,12/03/2019,06/03/2019,9416,SCN,TXL,53.0,5342,6488,0,65,06/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120039,12/03/2019,07/03/2019,9412,SCN,TXL,36.0,2937,3730,0,67,07/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120040,12/03/2019,07/03/2019,9414,SCN,TXL,63.0,9162,11006,0,67,07/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120041,12/03/2019,07/03/2019,9416,SCN,TXL,49.0,5615,6533,0,67,07/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120042,12/03/2019,08/03/2019,9412,SCN,TXL,44.0,3945,4493,0,67,08/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120043,12/03/2019,08/03/2019,9414,SCN,TXL,40.0,4533,5632,0,67,08/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120044,12/03/2019,08/03/2019,9416,SCN,TXL,35.0,3139,4224,0,67,08/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120045,12/03/2019,09/03/2019,9412,SCN,TXL,30.0,2208,2523,0,67,09/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120049,13/03/2019,06/03/2019,9412,SCN,TXL,43.0,6611,7548,0,67,06/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120050,13/03/2019,06/03/2019,9414,SCN,TXL,43.0,4382,4958,0,67,06/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120051,13/03/2019,06/03/2019,9416,SCN,TXL,53.0,5342,6488,0,65,06/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120052,13/03/2019,07/03/2019,9412,SCN,TXL,36.0,2937,3730,0,67,07/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120053,13/03/2019,07/03/2019,9414,SCN,TXL,63.0,9162,11006,0,67,07/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120054,13/03/2019,07/03/2019,9416,SCN,TXL,49.0,5615,6533,0,67,07/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120055,13/03/2019,08/03/2019,9412,SCN,TXL,44.0,3945,4493,0,67,08/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120056,13/03/2019,08/03/2019,9414,SCN,TXL,40.0,4533,5632,0,67,08/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120057,13/03/2019,08/03/2019,9416,SCN,TXL,35.0,3139,4224,0,67,08/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120058,13/03/2019,09/03/2019,9412,SCN,TXL,30.0,2208,2523,0,67,09/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120062,14/03/2019,07/03/2019,9412,SCN,TXL,36.0,2937,3730,0,67,07/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120063,14/03/2019,07/03/2019,9414,SCN,TXL,63.0,9162,11006,0,67,07/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120064,14/03/2019,07/03/2019,9416,SCN,TXL,49.0,5615,6533,0,67,07/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120065,14/03/2019,08/03/2019,9412,SCN,TXL,44.0,3945,4493,0,67,08/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120066,14/03/2019,08/03/2019,9414,SCN,TXL,40.0,4533,5632,0,67,08/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120067,14/03/2019,08/03/2019,9416,SCN,TXL,35.0,3139,4224,0,67,08/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120068,14/03/2019,09/03/2019,9412,SCN,TXL,30.0,2208,2523,0,67,09/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120072,15/03/2019,08/03/2019,9412,SCN,TXL,44.0,3945,4493,0,67,08/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120073,15/03/2019,08/03/2019,9414,SCN,TXL,40.0,4533,5632,0,67,08/03,03/2019,I,NaN,20:20:00,NaN,20:20:00
120074,15/03/2019,08/03/2019,9416,SCN,TXL,35.0,3139,4224,0,67,08/03,03/2019,I,NaN,15:50:00,NaN,15:50:00
120075,15/03/2019,09/03/2019,9412,SCN,TXL,30.0,2208,2523,0,67,09/03,03/2019,I,NaN,09:40:00,NaN,09:40:00
120079,16/03/2019,09/03/2019,9412,SCN,TXL,30.0,2208,2523,0,67,09/03,03/2019,I,NaN,09:40:00,NaN,09:40:00